@font-face {
    font-family: 'Montreal';
    src: url('../assets/typo/Neue Montreal/PPNeueMontreal-Regular.otf');
}

@font-face {
    font-family: 'Supply';
    src: url('../assets/typo/Supply/PPSupplySans-Ultralight.otf');
}

:root {
    --police-extrabig: 96px;
    --police-big: 90px;
    --police-normal: 22px;
    --police-small: 15px;
    --police-extra-small: 12px;

    --black: #000;
    --white: #fff;

    --margin: 20px;

    --police-weigth-normal: 400;
    --police-weigth-small: 100;
}

* {
    padding: 0;
    margin: 0;
    z-index: 0;

    box-sizing: border-box;

    font-family: 'Montreal';
    font-weight: var(--police-weigth-normal);

    text-decoration: none;
    list-style: none;
}

a {
    color: var(--black);
    text-decoration: none;
}