@font-face {
    font-family: 'Montreal';
    src: url('../assets/typo/Neue Montreal/PPNeueMontreal-Regular.otf');
}

@font-face {
    font-family: 'Montreal Bold';
    src: url('../assets/typo/Neue Montreal/PPNeueMontreal-Bold.otf');
}

@font-face {
    font-family: 'Supply';
    src: url('../assets/typo/Supply/PPSupplySans-Ultralight.otf');
}

:root {
    --police-extrabig: 96px;
    --police-big: 90px;
    --police-normal: 18px;
    --police-small: 15px;
    --police-extra-small: 12px;

    --black: #000;
    --ligth-black: #888;
    --white: #fff;

    --margin: 20px;

    --police-weigth-normal: 400;
    --police-weigth-small: 100;
}

* {
    padding: 0;
    margin: 0;
    z-index: 0;

    box-sizing: border-box;

    font-family: 'Montreal';
    font-size: var(--police-bigsmall);
    font-weight: var(--police-weigth-normal);

    text-decoration: none;
    list-style: none;
}

::selection{
    background-color: rgba(0, 0, 0, 0.1);
}

body{
    overflow-x: hidden;
}

a {
    color: var(--black);
    text-decoration: none;
}

#menu{
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(100dvw - calc(2 * var(--margin)));
    height: 60px;
    z-index: 10;

    margin: 7.5px var(--margin) 0 var(--margin);
    
    background: transparent;

    &::before{
        content: '';
        position: absolute;

        width: 100dvw;
        height: 84px;

        backdrop-filter: blur(11px);
        transform: translateX(calc(-1 * var(--margin))) translateY(-12.5px);
    }

    & a{
        position: relative;

        &::before{
            content: '';
            position: absolute;
            bottom: 0;

            width: 100%;
            height: 1px;

            background-color: var(--black);

            transform: scaleX(0);
            will-change: transform;
            transform-origin: left;

            overflow-x: hidden;
            transition: transform 200ms ease-in-out;
        }

        &:hover::before{
            transform: scaleX(1);
        }
    }

    & #logo{
        display: flex;
        align-items: center;
        gap: 8px;

        & img{
            height: 40px;
            max-width: 50%;
        }

        & p{
            width: 30px;
        }
    }

    #sous-menu{
        display: flex;
        gap: 5px;
    }

    #time{
        display: flex;
        align-items: center;
        gap: 8px;

        & p{
            font-family: Supply;
            font-weight: 200;
        }

        & img{
            height: var(--police-normal);
        }
    }
}

@keyframes apparition{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@keyframes disapparition{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}

#galerie{
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    width: 100dvw;
    min-height: 100dvh;
    z-index: 30;

    padding: var(--margin);

    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(11px);

    will-change: opacity animation;
    animation: ease apparition 800ms forwards;

    &.disparition{
        animation: ease disapparition 800ms forwards;
    }

    & nav{
        display: flex;
        align-items: center;

        width: 100%;
        height: 66px;

        margin-top: 3px;

        &::after{
            background-color: var(--white);
        }

        & p{
            position: relative;
            margin-left: 52%;
            color: var(--white);


            &::before{
                content: '';
                position: absolute;
                bottom: 0;
    
                width: 100%;
                height: 1px;
    
                background-color: var(--white);
    
                transform: scaleX(0);
                will-change: transform;
                transform-origin: left;
    
                overflow-x: hidden;
                transition: transform 200ms ease-in-out;
            }
    
            &:hover::before{
                transform: scaleX(1);
            }
        }
    }

    & content {
        display: flex;
        flex-direction: column;
        gap: var(--margin);

        margin: 0 0 0 20%;
        padding-top: var(--margin);

        width: 100%;
        max-height: 100dvh;
        overflow-y: scroll;
        
        color: var(--white);

        & .projet{
            display: flex;
            width: 80%;

            margin: 0;
            padding-top: var(--margin);

            &::after{
                bottom: 100%;
                background-color: var(--white);
            }

            & aside{
                display: flex;
                flex-direction: column;
                gap: calc(var(--margin) / 2);

                width: 35%;

                & .titre,
                & .domaine, 
                & .outils{
                    display: flex;
                    gap: var(--margin);


                    & h1{
                        font-family: 'Montreal Bold';
                        font-size: var(--police-normal);
                    }
                }

                & .domaine, 
                & .outils{
                    padding-bottom: calc(var(--margin) / 4);

                    &::after{
                        background-color: var(--white);
                    }

                    h2:first-child{
                        width: 15%;
                    }
                }
            }

            & .mask{
                width: 5%;
            }

            & .items-galerie{
                display: flex;
                flex-wrap: wrap;
                gap: 17px;

                width: 60%;

                & .item{
                    margin-bottom: calc(var(--margin) * 4);
                    & p{
                        padding-top : 10px;
                        text-align: center;
                    }
    
                    & img, & video{
                        min-width: calc(25% - var(--margin));
                        max-height: 40dvh;
                    }
                }

                & .big-item{
                    max-width: calc(75% - var(--margin));

                    & img, & video{
                        width: 100%;
                        max-height: none;

                    }
                }

                & .small-item{
                    width: 25%;

                    & img, & video{
                        width: 100%;
                    }
                }
            }
        }
    }
}